<div class="register-form form-dang-ky" data-aos="zoom-in-left"  data-aos-delay="300"  data-aos-easing="ease" data-aos-duration="1500" ng-controller="registerController">
	<form class="register-form__inner" id="form-t" ng-submit="register()">
		<div class="register-form__title">ĐĂNG KÝ TÀI KHOẢN</div>
		<input type="text" name="userName" ng-model ="userName" placeholder="Tên đăng nhập" id="userName" required="true" />
		<input type="password" name="passWord" ng-model ="passWord" placeholder="Mật khẩu" id="form-email-p" required="true" />
		<input type="text" name="ho_ten" placeholder="Họ và tên" required="required" id="form-name-t" ng-model = "fullName" />
		<input type="email" name="email" placeholder="Email" id="form-email-t" required ng-model = "email" />
		<input type="submit" value="HOÀN TẤT ĐĂNG KÝ" id="form-submit-t"  />
		<div class="register-form__text">Hotline tư vấn miễn phí: <a href="tel:098 193 7066">098 193 7066</a>
	</div>
</form>
</div>