<div class="product-detail-lesson" style="margin: 15px;">
	<div class="lesson-list" ng-controller="basicGrammarDetailController">
		<div class="lesson-item effect-product">
			<div class="lesson-image">
				<span style="background-position: -354.8px -1048.2px"></span>
			</div>
			<p class="lesson-name">THÌ HIỆN TẠI ĐƠN</p>
			<p class="lesson-result"></p>
			<!--lesson button-->
			<a href="https://www.grammar.vn/grammar-topic/ngu-phap-tieng-anh-mien-phi/present-simple-101" class="lesson-button button-letsgo">Học bài mới</a>
		</div>
	</div>
	<div class="lesson-list" ng-controller="basicGrammarDetailController">
		<div class="lesson-item effect-product">
			<div class="lesson-image">
				<span style="background-position: -354.8px -1048.2px"></span>
			</div>
			<p class="lesson-name">THÌ HIỆN TẠI ĐƠN</p>
			<p class="lesson-result"></p>
			<!--lesson button-->
			<a href="https://www.grammar.vn/grammar-topic/ngu-phap-tieng-anh-mien-phi/present-simple-101" class="lesson-button button-letsgo">Học bài mới</a>
		</div>
	</div>
	<div class="lesson-list" ng-controller="basicGrammarDetailController">
		<div class="lesson-item effect-product">
			<div class="lesson-image">
				<span style="background-position: -354.8px -1048.2px"></span>
			</div>
			<p class="lesson-name">THÌ HIỆN TẠI ĐƠN</p>
			<p class="lesson-result"></p>
			<!--lesson button-->
			<a href="https://www.grammar.vn/grammar-topic/ngu-phap-tieng-anh-mien-phi/present-simple-101" class="lesson-button button-letsgo">Học bài mới</a>
		</div>
	</div>
	<div class="lesson-list" ng-controller="basicGrammarDetailController">
		<div class="lesson-item effect-product">
			<div class="lesson-image">
				<span style="background-position: -354.8px -1048.2px"></span>
			</div>
			<p class="lesson-name">THÌ HIỆN TẠI ĐƠN</p>
			<p class="lesson-result"></p>
			<!--lesson button-->
			<a href="https://www.grammar.vn/grammar-topic/ngu-phap-tieng-anh-mien-phi/present-simple-101" class="lesson-button button-letsgo">Học bài mới</a>
		</div>
	</div>
	<div class="lesson-list" ng-controller="basicGrammarDetailController">
		<div class="lesson-item effect-product">
			<div class="lesson-image">
				<span style="background-position: -354.8px -1048.2px"></span>
			</div>
			<p class="lesson-name">THÌ HIỆN TẠI ĐƠN</p>
			<p class="lesson-result"></p>
			<!--lesson button-->
			<a href="https://www.grammar.vn/grammar-topic/ngu-phap-tieng-anh-mien-phi/present-simple-101" class="lesson-button button-letsgo">Học bài mới</a>
		</div>
	</div>
	<div class="lesson-list" ng-controller="basicGrammarDetailController">
		<div class="lesson-item effect-product">
			<div class="lesson-image">
				<span style="background-position: -354.8px -1048.2px"></span>
			</div>
			<p class="lesson-name">THÌ HIỆN TẠI ĐƠN</p>
			<p class="lesson-result"></p>
			<!--lesson button-->
			<a href="https://www.grammar.vn/grammar-topic/ngu-phap-tieng-anh-mien-phi/present-simple-101" class="lesson-button button-letsgo">Học bài mới</a>
		</div>
	</div>
</div>