<div class="library-list-product" style="margin: 15px">
	<div class="library-product">
		<a class="library-product-cover" href="https://www.grammar.vn/product-detail/ngu-phap-tieng-anh-mien-phi">
			<img class="product-image" src="images/BasicGrammar/english-grammar-starters.jpg" alt="ENGLISH GRAMMAR FOR STARTER">
			<span class="product-price product-free"><strong>Free</strong></span>
			<p class="product-name">ENGLISH GRAMMAR FOR STARTER</p>
			<p class="product-category">Ngữ pháp thi chứng chỉ</p>
			<p class="product-description">English Grammar For Starter&nbsp;là khóa học&nbsp;ngữ pháp tiếng Anh miễn phí&nbsp;được VOCA xây dựng dựa trên phương pháp tiếp cận văn phạm mới và hiện đại.&nbsp;Khóa học cung cấp cho bạn 6 chủ điểm ngữ pháp tiếng Anh quen thuộc giúp bạn học trải nghiệm đầy đủ tính năng học của VOCA.</p>
			<div class="product-bottom">
				<p class="bottom-text"><span class="text-bold">6</span> chủ điểm</p>
			</div>
		</a>
		<div class="dropdown">
			<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" link="https://www.grammar.vn/product-detail/ngu-phap-tieng-anh-mien-phi" data-toggle="modal" data-target="#library-product-share-modal">Chia sẻ</a></li>
			</ul>
		</div>
	</div>
</div>