<div class="library-list-product" style="margin: 15px" ng-controller = "BasicGrammarController">
	<div class="library-product" ng-repeat="basicGrammar in listBasicGrammar">
		<a class="library-product-cover" href="#">
			<img class="product-image" src="images/BasicGrammar/{{basicGrammar.image_descript}}" alt="ENGLISH GRAMMAR FOR STARTER">
			<span class="product-price product-free"><strong>Free</strong></span>
			<p class="product-name">{{basicGrammar.name_english}}</p>
			<p class="product-category">{{basicGrammar.name_vn}}</p>
			<p class="product-description">{{basicGrammar.short_descript}}</p>
			<div class="product-bottom">
				<p class="bottom-text"><span class="text-bold">6</span> chủ điểm</p>
			</div>
		</a>
		<div class="dropdown">
			<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" link="https://www.grammar.vn/product-detail/ngu-phap-tieng-anh-mien-phi" data-toggle="modal" data-target="#library-product-share-modal">Chia sẻ</a></li>
			</ul>
		</div>
	</div>
</div>