.k-hr-customer{
	border-bottom: 2px solid #0079bc;
}
.k-headder{
	background-image: url(../background/bg-caro.jpg);
	margin: 5px 0px;
}
.k-main-content{
	background-image: url(../background/register-bg.jpg);
}