<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
        <!-- Database connection settings oracle -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@45.117.162.156:1521:orcl</property>
		<property name="hibernate.connection.username">vimotech</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- insert UTF-8 -->
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<!-- Mapping file -->
		<mapping class="com.vn.tdk.learnenglish.entity.Account" />
		<mapping class="com.vn.tdk.learnenglish.entity.Theme" />
	</session-factory>
</hibernate-configuration>

